@model Bio

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand p-0">
        <h1 class="text-primary m-0">@Html.Raw(Model.Header)</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
            <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Home</a>
            <a asp-controller="About" asp-action="Index" class="nav-item nav-link">About</a>
            <a asp-controller="Menu" asp-action="Index" class="nav-item nav-link">Menu</a>
            <a asp-controller="Booking" asp-action="Index" class="nav-item nav-link">Booking</a>
            <a asp-controller="Contact" asp-action="Index" class="nav-item nav-link">Contact</a>
        </div>
        <a asp-controller="Booking" asp-action="Index" class="btn btn-primary py-2 px-4">Book A Table</a>
    </div>
</nav>