@model Slider

<img src="~/img/@Model.Image" style="height:350px;width:350px;object-fit:cover;" />
<h6>@Model.Title</h6>
<p>@Model.Description</p>
<a class="btn btn-secondary" asp-action="Index">Go Back</a>